## What is a list?
A list is an ordered set of objects in Python.

Suppose we want to make a list of the heights of students in a class:

- Jenny is 61 inches tall
- Alexus is 70 inches tall
- Sam is 67 inches tall
- Grace is 64 inches tall

In Python, we can create a variable called heights to store these numbers:

In [ ]:
heights = [61, 70, 67, 64]

Notice that:

1. A list begins and ends with square brackets ([ and ]).
2. Each item (i.e., 67 or 70) is separated by a comma (,)
3. It’s considered good practice to insert a space () after each comma, but your code will run just fine if you forget the space.

### Applications
1.
A new student just joined the class:

- Cole is 65 inches tall
- Add Cole’s height to the end of the list heights.

In [1]:
heights = [61, 70, 67, 64]
heights = [61, 70, 67, 64, 65]

2.
Remove the # in front of the definition of the list broken_heights. If you run this code, you’ll get an error:

SyntaxError: invalid syntax
Add commas (,) to broken_heights so that it runs without errors.

In [3]:
broken_heights = [65, 71, 59, 62]

In [4]:
# append 65 to the height list
heights = [61, 70, 67, 64]
heights.append(65)
print(heights)

[61, 70, 67, 64, 65]

In [7]:
heights.append(68)
print(heights)

[61, 70, 67, 64, 65, 71, 71, 68]

### Possible question

How can I look up the index of an item in my list?

### Possible answer with an example

In below mentioned code I can get the number by using index value

heights = [61, 70, 67, 64, 65]

print(heights[2])

I am wondering what if i want to use number in order to find index. For example i want to find at what index is number 64 is? 

Can we do this in python?

Yes, we can use .index() method

In [12]:
heights = [61, 70, 67, 64, 65]
print(heights[0])
print(heights[1])
print(heights[2])
print(heights[3])
print(heights[4])
print(heights.index(61))
print(heights.index(70))
print(heights.index(67))
print(heights.index(64))
print(heights.index(65))

61
70
67
64
65
0
1
2
3
4

### Lists II
Lists can contain more than just numbers.

Let’s revisit our height example:

- Jenny is 61 inches tall
- Alexus is 70 inches tall
- Sam is 67 inches tall
- Grace is 64 inches tall

We can make a list of strings that contain the students’ names:

In [ ]:
names = ['Jenny', 'Alexus', 'Sam', 'Grace']

We can also combine multiple data types in one list. For example, this list contains both a string and an integer:

In [ ]:
mixed_list = ['Jenny', 61]

### Applications
1.
Add any string to the list ints_and_strings.

In [14]:
ints_and_strings = [1, 2, 3, 'four', 'five']
ints_and_strings.append("six")
print(ints_and_strings)
print(ints_and_strings + ["5"])

[1, 2, 3, 'four', 'five', 'six']
[1, 2, 3, 'four', 'five', 'six', '5']

2.
Create a new list called sam_height that contains:

- The string 'Sam'
- The number 67

In [15]:
sam_height = ["Sam", 67]

### Possible Question

Can a list contain items of different types?

### Possible Answer
A list in Python CAN contain different types of data. Each item in the list is separated by a comma and the entire list is enclosed in square brackets []. To add a new item to the list, just edit the list starting before the closing bracket. Add a comma and the new item. It doesn’t matter what the type is for the previous item.

In the example below, the elements list contains the name of an element and its atomic number and mass. The list then contains the same data for another element. The data types contained in the list are strings, integers, and floating point values

In [16]:
elements = ["Hydrogen", 1, 1.007825, "Helium", 2, 4.00260, "Oxygen", 5, 1.6534]
print(elements)

['Hydrogen', 1, 1.007825, 'Helium', 2, 4.0026, 'Oxygen', 5, 1.6534]

### List of Lists
We’ve seen that the items in a list can be numbers or strings. They can also be other lists!

Once more, let’s return to our class height example:

- Jenny is 61 inches tall
- Alexus is 70 inches tall
- Sam is 67 inches tall
- Grace is 64 inches tall

Previously, we saw that we could create a list representing both Jenny’s name and height:

In [ ]:
jenny = ['Jenny', 61]

We can put several of these lists into one list, such that each entry in the list represents a student and their height:

In [ ]:
heights = [['Jenny', 61], ['Alexus', 70], ['Sam', 67], ['Grace', 64]]

### Applications
1.
A new student named 'Vik' has joined our class. Vik is 68 inches tall. Add a sublist to heights that represents Vik and his height.

In [19]:
heights = [['Jenny', 61], ['Alexus', 70], ['Sam', 67], ['Grace', 64], ["Vik", 68]]
print(heights)

[['Jenny', 61], ['Alexus', 70], ['Sam', 67], ['Grace', 64], ['Vik', 68]]

2.
Create a list of lists called ages where each sublist contains a student’s name and their age. Use the following data:

- 'Aaron' is 15
- 'Dhruti' is 16

In [21]:
ages = [["Aaron", 15], ["Dhruti", 16]]
print(ages)

[['Aaron', 15], ['Dhruti', 16]]

### Zip
Again, let’s return to our class height example:

- Jenny is 61 inches tall
- Alexus is 70 inches tall
- Sam is 67 inches tall
- Grace is 64 inches tall
- Suppose that we already had a list of names and a list of heights:

In [22]:
names = ['Jenny', 'Alexus', 'Sam', 'Grace']
heights = [61, 70, 67, 65]

If we wanted to create a list of lists that paired each name with a height, we could use the command zip. zip takes two (or more) lists as inputs and returns an object that contains a list of pairs. Each pair contains one element from each of the inputs. You won’t be able to see much about this object from just printing it:

In [23]:
names_and_heights = zip(names, heights)
print(names_and_heights)

<zip object at 0x00000225358181C0>

To see the nested lists, you can convert the zip object to a list first:

In [24]:
print(list(names_and_heights))

[('Jenny', 61), ('Alexus', 70), ('Sam', 67), ('Grace', 65)]

### Applications

1.
Use zip to create a new variable called names_and_dogs_names that combines names and dogs_names into a zip object.

Make sure to run the code for this step before proceeding to the next instruction!

In [42]:
names = ['Jenny', 'Alexus', 'Sam', 'Grace']
dogs_names = ['Elphonse', 'Dr. Doggy DDS', 'Carter', 'Ralph']
names_and_dogs_names = zip(names, dogs_names)
print(names_and_dogs_names)
print(list(names_and_dogs_names))

<zip object at 0x0000022535A8F940>
[('Jenny', 'Elphonse'), ('Alexus', 'Dr. Doggy DDS'), ('Sam', 'Carter'), ('Grace', 'Ralph')]

In [43]:
list_of_names_and_dogs_names = list(names_and_dogs_names)
print(list_of_names_and_dogs_names)

[]

2.
Create a new variable named list_of_names_and_dogs_names by calling list() on names_and_dogs_names. Print this new variable .

### Possible Question
Does the zip function work with lists of different lengths?

### Possible answer with an example

The zip() function will only iterate over the smallest list passed. If given lists of different lengths, the resulting combination will only be as long as the smallest list passed. In the following code example, list_two contains more elements than list_one so the resulting merged list will only be as long as list_one.

In [45]:
list_one = ['Joe', 'Mark', 'Jane']
list_two = [ 100, 34, 87, 23, 65 ]
print(list(zip(list_one, list_two)))

[('Joe', 100), ('Mark', 34), ('Jane', 87)]

It is possible to use the cycle() function from itertools to repeat values from the shorter list. This will allow zip() to iterate over all the elements from the longer list. In this example, cycle() is used to repeat values from list_one and the resulting merged list will now contain all values from list_two.

In [49]:
from itertools import cycle
list_one = ['Joe', 'Mark', 'Jane']
list_two = [ 100, 34, 87, 23, 65 ]
merged2 = zip(cycle(list_one),list_two)
print(list(merged2))

[('Joe', 100), ('Mark', 34), ('Jane', 87), ('Joe', 23), ('Mark', 65)]

## Empty Lists
A list doesn’t have to contain anything! You can create an empty list like this:

In [51]:
empty_list = []
print(empty_list)

[]

Why would we create an empty list?

Usually, it’s because we’re planning on filling it later based on some other input. We’ll talk about two ways of filling up a list in the next exercise.

### Applications

1.
Create an empty list and call it my_empty_list.

In [52]:
my_empty_list = []

### Growing a List: Append
We can add a single element to a list using .append(). For example, suppose we have an empty list called empty_list:

In [53]:
empty_list = []

We can add the element 1 using the following commands:

In [54]:
empty_list.append(1)

If we examine empty_list, we see that it now contains 1:

In [55]:
print(empty_list)

[1]

When we use .append() on a list that already has elements, our new element is added to the end of the list:

In [56]:
# Create a list
my_list = [1, 2, 3]
 
# Append a number
my_list.append(5)
print(my_list) # check the result

[1, 2, 3, 5]

the output looks like:
    [1, 2, 3, 5]

It’s important to remember that .append() comes after the list. This is different from functions like print, which come before.

### Applications
1.
Jiho works for a gardening store called Petal Power. He keeps a record of orders in a list called orders.

Use print to inspect the orders he has received today.

In [57]:
orders = ['daisies', 'periwinkle']
#print orders
print(orders)

['daisies', 'periwinkle']

2.
Jiho just received a new order for 'tulips'. Use append to add this string to orders.

In [58]:
orders.append("tulips")
print(orders)

['daisies', 'periwinkle', 'tulips']

3.
Another order has come in! Use append to add 'roses' to orders.

In [59]:
orders.append("roses")
print(orders)

['daisies', 'periwinkle', 'tulips', 'roses']

4.
Use print to inspect the orders Jiho has received today.

In [60]:
print(orders)

['daisies', 'periwinkle', 'tulips', 'roses']

### Possible question
Is it possible to use the append() function to add more than one item at a time to a list?

### Possible answer with example
No, the append() function in Python can only add one item at a time to a list. In order to add more than one item, you have to call the append() function multiple times.

In [62]:
# Add additional numbers to the list
primes = [2, 3]
primes.append(5)
primes.append(7)
primes.append(11)
print(primes)

[2, 3, 5, 7, 11]

We do have another list method to help prevent repetition, .extend().

In [64]:
primes = [2, 3]
primes.extend([5, 7, 11])
print(primes)

[2, 3, 5, 7, 11]

## Growing a List: Plus (+)
When we want to add multiple items to a list, we can use + to combine two lists.

Below, we have a list of items sold at a bakery called items_sold:

In [66]:
items_sold = ['cake', 'cookie', 'bread']

Suppose the bakery wants to start selling 'biscuit' and 'tart':

In [67]:
items_sold_new = items_sold + ['biscuit', 'tart']
print(items_sold_new)
# ['cake', 'cookie', 'bread', 'biscuit', 'tart']

['cake', 'cookie', 'bread', 'biscuit', 'tart']

In this example, we created a new variable, items_sold_new, which contained both the original items sold, and the new ones. We can inspect the original items_sold and see that it did not change:

In [68]:
print(items_sold)
#['cake', 'cookie', 'bread']

['cake', 'cookie', 'bread']

We can only use + with other lists. If we type in this code:

In [70]:
my_list = [1, 2, 3]
my_list + 4

TypeError: 'int' object is not iterable

we will get the following error:

TypeError: can only concatenate list (not "int") to list
If we want to add a single element using +, we have to put it into a list with brackets ([]):

In [71]:
my_list + [4]

[1, 2, 3, 4]

### Applications
1.
Jiho is still updating his list of orders. He just received orders for 'lilac' and 'iris'.

Use + to create a new list called new_orders that combines orders with the two new orders.

In [73]:
orders = ['daisy', 'buttercup', 'snapdragon', 'gardenia', 'lily']

# Create new orders here and use + sign to add the lists:
new_orders = orders + ["lilac", "iris"]
print(new_orders)

['daisy', 'buttercup', 'snapdragon', 'gardenia', 'lily', 'lilac', 'iris']

2.
Remove the # in front of the list broken_prices. If you run this code, you’ll get an error:

TypeError: can only concatenate list (not "int") to list

Fix the command by inserting brackets ([ and ]) so that it will run without errors.

In [76]:
broken_prices = [5, 3, 4, 5, 4] + [4]
print(broken_prices)

[5, 3, 4, 5, 4, 4]

### Range I
Often, we want to create a list of consecutive numbers. For example, suppose we want a list containing the numbers 0 through 9:

In [77]:
my_list = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

Typing out all of those numbers takes time and the more numbers we type, the more likely it is that we have a typo.

Python gives us an easy way of creating these lists using a function called range. The function range takes a single input, and generates numbers starting at 0 and ending at the number before the input. So, if we want the numbers from 0 through 9, we use range(10) because 10 is 1 greater than 9:

In [79]:
my_range = range(10)
print(my_range)

range(0, 10)

Just like with zip, the range function returns an object that we can convert into a list:

In [80]:
print(my_range)
range(0, 10)
print(list(my_range))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Applications
1.
Modify list1 so that it is a range containing numbers starting at 0 and up to, but not including, 9.

In [82]:
list1 = range(9)
print(list(list1))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

2.
Create a range called list2 with the numbers 0 through 7.

In [84]:
list2 = range(8)
print(list(list2))

[0, 1, 2, 3, 4, 5, 6, 7]

### Range II
We can use range to generate more interesting lists.

By default, range creates a list starting at 0. However, if we call range with two arguments, we can create a list that starts at a different number. For example, range(2, 9) would generate numbers starting at 2 and ending at 8 (just before 9):

In [85]:
my_list = range(2, 9)
print(list(my_list))

[2, 3, 4, 5, 6, 7, 8]

With one or two arguments, range will create a list of consecutive numbers (i.e., each number is one greater than the previous number). If we use a third argument, we can create a list that “skips” numbers. For example, range(2, 9, 2) will give us a list where each number is 2 greater than the previous number:

In [89]:
my_range2 = range(2, 9, 2)
print(list(my_range2))

[2, 4, 6, 8]

We can skip as many numbers as we want! In this example, we’ll start at 1 and skip 10 between each number until we get to 100:

In [90]:
my_range3 = range(1, 100, 10)
print(list(my_range3))

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91]

Our list stops at 91 because the next number in the sequence would be 101, which is greater than 100 (our stopping point).

### Applications

1.
Modify the range function that created list1 such that it:

- Starts at 5
- Has a difference of 3 between each item
- Ends before 15

In [91]:
list1 = range(5, 15, 3)
print(list(list1))

[5, 8, 11, 14]

2.
Create a range object called list2 that:

- Starts at 0
- Has a difference of 5 between each item
- Ends before 40

In [92]:
list2 = range(0, 40, 5)
print(list(list2))

[0, 5, 10, 15, 20, 25, 30, 35]

### Review
So far, we have learned

- How to create a list
- How to create a list of lists using zip
- How to add elements to a list using either .append() or +
- How to use range to create lists of integers

Let’s practice these skills.

### Applications
1.
Maria is entering customer data for her web design business. You’re going to help her organize her data.

Start by turning this list of customer first names into a list called first_names. Make sure to enter the names in this order:

- Ainsley
- Ben
- Chani
- Depak

In [93]:
first_names = ["Ainsley", "Ben", "Chani", "Depak"]

2.
Create an empty list called age

In [99]:
age = []

3.
Depak’s age is 42. Use .append() to add 42 to age.

In [100]:
age.append(42)
print(age)

[42]

4.
Maria needs a list of the ages for all customers. Create a new list called all_ages that adds age with the following list, containing the ages for Ainsley, Ben, and Chani:

[32, 41, 29]
Make sure all_ages begins with the ages for Ainsley, Ben, and Chani and ends with Depak’s age (stored in age)!

In [101]:
all_ages = [32, 41, 29]
print(all_ages)

[32, 41, 29]

5.
Create a new variable called name_and_age that combines first_names and all_ages using zip.

In [102]:
name_and_age = zip(first_names, all_ages)

6.
Create a range object called ids with an id number for each customer. Since there are 4 customers, so id values should go from 0 to 3.

In [105]:
ids = range(4)
print(list(ids))

[0, 1, 2, 3]

### Possible question
If I have a list containing items, how can I empty or delete all the contents of the list?

### Possible Answer
There are two ways to empty an existing list. The first way is to just assign the list variable to an empty list. In this case, the old list and its contents are automatically deleted by Python. This is shown in the following code example.

In [106]:
list1 = [ 1, 2, 3, 4, 5, 6, 7 ]
list1 = []
print(list1)

[]

The second method is to use the del() function to delete all the elements of the list. This forces the removal of all the items immediately instead of letting Python delete the contents at some time of its choosing. Both methods produce the same end result which is that the list will be empty of contents.

In [107]:
list2 = [ 10, 20, 30, 40, 50, 60, 70 ]
del list2[:]
print(list2)

[]

## Quiz
1. Which of these commands would create a list of numbers starting at 0 and up to (but not including) 9?

A. list(range([0, 9]))

B. list(range(10))

C. list(9)

D. list(range(9))

In [108]:
list(range([0, 9])) # range() function can not have a list in it

TypeError: 'list' object cannot be interpreted as an integer

In [109]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [110]:
list(9) # list() function can not take an integer in it

TypeError: 'int' object is not iterable

In [111]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

2. Is the following list a valid Python list?

In [112]:
mylist = ['Mount Everest', 29029]
print(mylist)

['Mount Everest', 29029]

A. Yes, lists can contain multiple data types.


B. No, lists can only contain one data type.

3. Which of the following is the correct way to add the number 4 to mylist?


A. 4.append(mylist)

B. mylist.append(4)

C. mylist.append([4])

D. mylist + 4

In [113]:
mylist.append(4)
print(mylist)

['Mount Everest', 29029, 4]

In [114]:
mylist.append([4])
print(mylist)

['Mount Everest', 29029, 4, [4]]

4. What list would be created by this command: list(range(2, 14, 4))?


A. [4, 8, 10, 12, 14]

B. [4, 8, 10, 12]

C. [2, 6, 10]

D. [2, 6, 10, 14]

In [115]:
list(range(2, 14, 4))

[2, 6, 10]

5. What would be the output of the following code snippet?

In [116]:
string1 = "The quick brown"
string2 = "fox jumps over"
string3 = string1 + string2
print(string3+" the lazy dog.")

The quick brownfox jumps over the lazy dog.

A. The quick brownfox jumps over the lazy dog.


B. The quick brownfox jumps overthe lazy dog.


C. The quick brown’ ‘fox jumps over’ ‘ the lazy dog.’


D. The quick brown fox jumps over the lazy dog.

6. How could we add ['Hawaii', 'Alaska'] to the list states?


A. states.append('Hawaii', 'Alaska')

B. states = [states, 'Hawaii', 'Alaska']

C. states = states + ['Hawaii', 'Alaska']

D. states = states + 'Hawaii' + 'Alaska'

In [119]:
states = []
states = states + ['Hawaii', 'Alaska']
print(states)

['Hawaii', 'Alaska']

7. Which of the following is the correct way to create the following list of names: 'Tom', 'Jerry', 'Tweetie', 'Sylvester'?


A. names = ['Tom'  'Jerry'  'Tweetie'  'Sylvester']

B. names = {'Tom', 'Jerry', 'Tweetie', 'Sylvester'}

C. names = ['Tom', 'Jerry', 'Tweetie', 'Sylvester']

D. names = 'Tom', 'Jerry', 'Tweetie', 'Sylvester'

8. Which of the following is the correct way to create an empty list?


A. empty_list = [0]

B. empty_list = {}

C. empty_list = None

D. empty_list = []

In [120]:
empty_list = []
print(empty_list)

[]

9. Which of the following would create a range object that starts at 3, goes up to but not including 15 where each number is 4 greater than the previous number?


A. range(3, 4, 15)

B. range(3, 15, 4)

C. range(4, 15, 3)

D. range(15, 4, 3)

In [122]:
list(range(3, 15, 4))

[3, 7, 11]